{% extends "base.html" %}
{% block title %}
  Записи cообщества {{ group }}
{% endblock %}
{% block heading %}
  <h1>{{ group }}</h1>
{% endblock %}
{% block content %}
  <p>
    {{ group.description }}
  </p>
  {% for post in page_obj %}
    {% include 'posts/includes/posts_list.html' %}
    {% if post.group %}   
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}